<div *ngIf="localData && localData.users">
  <table border="1">
    <tr>
      <th>id</th>
      <th>first name</th>
      <th>last name</th>
      <th>avatar</th>
    </tr>
    <tr *ngFor="let user of localData.users.data">
      <td>{{user.id}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td><img [src]="user.avatar" /></td>
    </tr>
  </table>

    <select (change)="selectPage($event)">
        <option value='1'>Go to page 1</option>
        <option value='2'>Go to page 2</option>
        <option value='3'>Go to page 3</option>
        <option value='4'>Go to page 4</option>
    </select>
</div>
